<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <main>
        <%obj.forEach(data =>{%>
            <div>
<h1><%=data.title%></h1>
<p><%=data.company%></p>
<p><%=data.location%></p>
<p><%=data.url%></p>
<p><%=data.description%></p>


<form action="/updatejob/<%=data.id%>?_method=put" method="post">
    <input type="text" name="title" value="<%=data.title%>">
    <input type="text" name="company" value="<%=data.company%>">
    <input type="text" name="location" value="<%=data.location%>">
    <input type="text" name="url" value="<%=data.url%>">
    <input type="text" name="description" value="<%=data.description%>">
    <button type="submit">update</button>
</form>


<form action="/deletejob/<%=data.id%>?_method=delete" method="post">
    <button type="submit">delete job</button>
</form>



            </div>

       <% })%>
    </main>
    
</body>
</html>